{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    {% for article in articles %}
    <div class="article">
        <a href="{{ path('article', {id: article.id }) }}"><h4>{{ article }}</h4></a>
        <div style="display:flex;">
            <img src="images/{{ article.photoFilename }}" style="width:200px;">
            <div>
                <p>{{ article.content|slice(0, 100) }}...</p>
                <p>{{ article.createdAt|format_datetime('medium', 'short') }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}
